.Poll {
  display: flex;
  //   justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #e5f2ff;
  color: #13212c;

  .Inner {
    @include CommonInnerStyle;
    padding-left: 64px;
    padding-right: 64px;
    z-index: 3;

    .UpperDiv {
      .Title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      .UpperDescription {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        font-weight: bold;
        color: rgba(#13212c, 80%);
        height: fit-content;

        .ViewIcon {
          width: 20px;
          height: 20px;
          margin: 3px 4px 0 21px;
        }

        .Desc {
          display: flex;
          flex-direction: row;

          img {
            width: 20px;
            height: 20px;
            border-radius: 50px;
            margin-top: 3px;
            margin-right: 6px;
          }
        }
      }
    }

    .Options {
      display: flex;
      flex-direction: row;
      gap: 18px;
      margin-top: 40px;

      .Option {
        display: flex;
        flex-direction: row;
        color: #13212c;
        font-weight: bold;
        font-size: 20px;

        .OptionIcon {
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }
      }
    }
  }
  .VoteOptionArea {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 0px;
    margin-top: 49px;

    .VoteOption {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 450px;
      height: 280px;
      background-color: #e5f2ff;
      border-radius: 5px;
      filter: drop-shadow(0 2px 3px #808080);

      &.Max {
        display: none;
      }

      .AddButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        position: absolute;
        top: 80px;
        background-color: #fd9741;
        height: 115px;
        width: 180px;
        border-radius: 5px;
        z-index: 101;
        filter: drop-shadow(0 2px 3px #808080);
        cursor: pointer;
        transition: scale 0.2s;

        &:hover {
          scale: 1.1;
        }

        img {
          width: 80px;
          height: 80px;
        }

        div {
          margin-top: 5px;
          font-size: 20px;
          font-weight: bold;
        }
      }

      .MinusButton {
        position: absolute;
        top: -18px;
        left: -18px;
        width: 36px;
        height: 36px;
        cursor: pointer;

        &.Min {
          display: none;
        }
      }

      .VoteOptionImage {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        background-color: #c4c4c4;
        justify-content: center;
        text-align: center;

        img {
          width: 100%;
          height: 160px;
          object-fit: cover;
        }

        span {
          display: block;
          color: #fff;
          font-size: 18px;
          font-weight: bold;
        }

        .span2 {
          font-weight: normal;
        }
      }

      .OptionDetail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 80px;
        width: 100%;

        .VoteIcon {
          position: absolute;
          left: 38px;
          width: 25px;
          height: 25px;
        }

        .OptionText {
          font-size: 24px;
          font-weight: bold;
          border: none;
          background-color: transparent;
          width: 80%;
          text-align: center;

          &::placeholder {
            color: #808080;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .AddVoteOption {
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}
