@import "../../style/mixin";

.Header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e5f2ff;
  filter: drop-shadow(0 2px 3px #808080);
  z-index: 999;

  .HeaderInner {
    width: 1600px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .HeaderLeft {
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;

      img {
        height: 50px;
        margin-right: 10px;
        cursor: pointer;
      }

      .Gollaba {
        font-family: "YANGJIN";
        font-size: 25px;
        letter-spacing: 10%;
        text-decoration: underline;
        margin-top: 5px;
        cursor: pointer;
      }

      .SearchBar {
        display: flex;
        align-items: center;
        height: 45px;
        width: 500px;
        margin-left: 28px;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #bed0e2;

        img {
          margin-left: 10px;
          width: 20px;
          height: 20px;
        }

        .SearchTermInput {
          border: transparent;
          height: 80%;
          width: 85%;
          font-size: 15px;
          letter-spacing: -2px;
          &:focus {
            outline: none;
          }
        }
      }
    }

    .HeaderRight {
      display: flex;
      align-items: center;
      gap: 18px;

      .HeaderButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        color: #fff;
        background-color: #fd9741;
        font-size: 18px;
        cursor: pointer;
        transition: scale 0.2s;

        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}
